absl-py==0.5.0
aniso8601==1.2.1
astor==0.7.1
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.0.11
Flask==0.12.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.2
gast==0.2.0
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-vision==0.34.0
googleapis-common-protos==1.5.3
grpcio==1.15.0
gunicorn==19.9.0
h5py==2.8.0
idna==2.7
itsdangerous==0.24
Jinja2==2.9.6
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==3.0
MarkupSafe==1.0
numpy==1.14.5
opencv-python==3.4.3.18
pandas==0.23.4
pbr==3.1.1
Pillow==9.0.1
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pyparsing==2.2.1
pytesseract==0.2.4
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.13
requests==2.19.1
rsa==4.0
scikit-learn==0.19.2
scipy==1.1.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.1.11
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
urllib3==1.23
Werkzeug==0.12.2
